*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
    background-image: url(backgroundlaw.jpg);
    background-size: cover;
    background-position: no repeat;
    height: 118vh;

}
 
  
  .header1 
  {
    display: flex;
    justify-content: space-around;
    margin-top: 0px;
    padding: top 40px;
      /* margin-top: 80px;
     */
    }
   
   
  .header2 {
    display: flex;
    justify-content: space-around;
    margin-top:20px;
    align-items: center; 
  }
  #logo {
    height: 60px;
  }

  ul {
    list-style-type: none;
  }
   ul li {
    display: inline-block;
    color:bisque;
    margin: 20px;
  }
  li a {
    color: bisque;
    text-decoration: none;
    font-size: 18px;
  }

    .hover {
      display: block;
      color: rgb(20, 9, 9);
    }

  .button {
    font-size: 17px;
    padding: 0 15px;
    border-radius: 8px;
    font-weight: 600;
    height: 20px;
    border: 2px solid rgb(255, 94, 0);
    background: transparent;
    color: bisque;
    position: relative;  
    
  } 
   .header3 {
    text-decoration-style: solid;
    justify-content: space-around;
    align-items:center;
    margin-bottom: 0;
    font-size: 50;
    font-weight: 100;
    height: 50;
    text-align: center;
    
   }

  .header3 button {
   font-size: 20px;
    padding: 0 15px;
    border-radius: 5px;
    font-weight: 600;
    height: 40px;
    background-color: #ff974f;
     color: beige;
     border: 2px solid #ff974f;
     text-align: center;
     margin-top: 1px;
     
  }
  
  .text {
  padding: top 40px;
  margin-top: 80px;

}

 
   
  .text h1  {
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 90;
    
  }
 .text h3 
 {
  font-size: 20px;
  margin-top: 20px;
 }
 .main-container1{
  width: 960px; 
  margin: auto;
  background-color: white;
  
  }
 

.images{
  background-color: white;
 width: 960px;
  height: auto;
  display: flex;
  position: relative;
  top: -70px;
}
.mi{
  width: 320px;
  height: auto;
  padding: 12px 14px;
}
.a{
  display: flex;
  justify-content:space-between;
  padding-bottom: 100px;


}
.b{
  width: 500px;
}
.underline{
  color: #ff974f;
}
.b h5{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: rgb(160, 158, 158);
}
.c{
  display: flex;
  justify-content:space-around;


}
.img-container{
  width: 200px;
  margin-left: 20px;
}
.img-container img{
  width: 200px;
  height: auto;

}
.b button{  padding: 12px 19px;
  border: 1px solid #b6b5b5;
  margin-top: 25px;
  border-radius: 5px;
  background-color: transparent;
}
.b button:hover{
  border: 1px solid #ff974f;
  
}

.main-container2 {
  
  width: 960px; 
  margin: auto;
  background-color: white;
  height: 600px;
}

.d {
  display: contents;
  margin-block: 3px;
}


.e {
  display: flex;
  margin-left: 7748pxx;
}



.f {
  display: flex;
  margin-left: 9px;
  margin-bottom:-5px;
  position: relative;
  left: 790px;
  margin-top: - 90px;
  
  
}

.g {
  display: flex;
  margin-left: 660px;
  margin-top: -150px;
  text-justify: auto;
  text-align: left;
  font-size: 15px;
}

.g button{  padding: 12px 19px;
   background-color: #ff974f
   
  
}

.g button:hover{
  border: 1px solid #ff974f;
}





.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
  opacity: 0 7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-instagram {
background:orchid;
} */
.underline1{
  color: #ff974f;
}